/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cormorant Garamond", serif;
    background-color: #000000;
    color: whitesmoke;
    font-size: larger;
}

/* Style for navigation bar */
.navbar {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: antiquewhite;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    position: relative;
    transition: background-color 0.8s;
}

.navbar a:hover {
    background-color: #ecbe41;
    animation: hoverAnimation 0.3s ease-in-out forwards;
}

@keyframes hoverAnimation {
    0% {
        left: 0;
    }
    100% {
        left: 10px; /* Adjust the distance to move right */
    }
}

/* Style for the section with background image */
.collection-section {
    background-image: url('imgs/3025943.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 250px; /* Increase padding to increase section size */
}

/* Style for the foreground header */
.collection-header {
    font-size: 36px;
    margin-bottom: 60px; /* Add space below the header */
    text-align: left; /* Align text to the left */
    padding-left: 10px; /* Move the text 10px to the right */
    position: absolute;
    bottom: 250px; /* Push up by 50px */
    left: 0;
    font-weight: bold; /* Make the header bold */
}

/* Style for the paragraph */
.collection-paragraph {
    font-size: 18px;
    max-width: 800px;
    text-align: left; /* Align text to the left */
    padding-left: 10px; /* Move the text 10px to the right */
    position: absolute;
    bottom: 250px; /* Push up by 50px */
    left: 0;
    margin-bottom: 20px; /* Add space below the paragraph */
    font-weight: bold; /* Make the paragraph bold */
}

/* CSS for adding space between sections */
.main-section {
    margin-top: 30px;
}

/* CSS for adding space between headers and images */
.modern-world h2,
.classics h2 {
    margin-bottom: 15px;
}

.image-gallery img {
    margin-bottom: 25px;
}

.modern-world {
    font-family: "Bebas Neue", sans-serif; 
}

.family-favorites {
    font-family: "Bebas Neue", sans-serif;
}

.footer-nav {
    background-color: #333; /* Background color for the footer navbar */
    padding: 20px; /* Padding around the navbar links */
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif; 
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #f6e937; /* Change to your preferred hover color */
}

.space {
    margin-bottom: 0px; /* Adjust the value as per your design */
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .main-section {
        padding: 10px;
    }

    .article {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .article {
        flex-basis: calc(100% - 20px);
    }
}
